@model IEnumerable<WebBanHang.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Roles</h1>
<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleId">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleId">Xoá</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleId">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

